.achievement {
    padding: 2rem;
}

.achievement__legend {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-dark);
    padding: 1rem;
}

.achievement__legend::before {
    content: "02.";
    color: var(--color-dark);
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.5rem;
}

.achievement__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    padding: 1rem;
}

.achievement__highlight {
    font-size: 140px;
    font-weight: 600;
    color: var(--color-primary);
    padding: 1rem;
}

.achievement__highlight-text {
    font-size: 18px;
    color: var(--color-dark);
    font-weight: 600;
    padding: 1rem;
}

.achievement__img {
    width: 100%;
    display: flex;
    margin: 0 auto;
}


.achievement__input {
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    
    .achievement__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .achievement--left {
        order: 2;
        width: 40%;
    }  
}

@media screen and (min-width: 1440px){
    .achievement__title {
        font-size: 32px;
    }

    .achievement__highlight {
        font-size: 200px;
    }

    .achievement__highlight-text {
        font-size: 24px;
    }
}
