:root {
   --font-main: 'Montserrat', sans-serif;
   --color-dark: #232340;
   --body-light-mode: #606060;
   --color-primary: #5468E7;
   --white: #FFFFFF;
   --mobile-menu: #595976;
   --deactive: #ADADAD;
   --black: #000000;
   --background-section: rgba(230, 229, 229, 0.932);
    --accent: #FFBA79;
    --shade-7: #908CFF;
    --shade-2: #E8BEFF;

}

body {
    font-family: var(--font-main);
    background: url(../img/bg-line.svg) no-repeat;
    background-position: top right;
}

.container {
   padding: 5%;
    
}

* {
    box-sizing: border-box;
}
