:root {
   --font-main: 'Montserrat', sans-serif;
   --color-dark: #232340;
   --body-light-mode: #606060;
   --color-primary: #5468E7;
   --white: #FFFFFF;
   --mobile-menu: #595976;
   --deactive: #ADADAD;
   --black: #000000;
   --background-whatwedo: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%);;
}

body {
    font-family: var(--font-main);
    background: url(../img/bg-line.svg) no-repeat;
    background-position: top right;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

* {
    box-sizing: border-box;
}
