.famous__projects-legend {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
    padding: 1rem;
}

.famous__projects-legend::before {
    content: "03.";
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.5rem;
}

.famous__projects-title {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    padding: 1rem;
}

.famous__projects-title-card {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    padding: 1rem;
}

.famous__projects-text {
    font-weight: 400;
    color: var(--body-light-mode);
    padding: 1rem;
}

.work__famous-navigation {
    display: flex;
    padding: 1rem;
}

.work__famous-navigation-item {
    display: flex;
}

.work__famous-navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__famous-navigation-link {
    padding: 1rem;
}

.work__famous-navigation-link:hover {
    background: var(--color-primary);
    border-radius: 50%;
}

.famous__project-content {
    padding: 1rem;
}

.famous__projects-card{
    background: var(--accent-2);
    border-radius: 17px;
    padding: 2rem;
    margin-top: 2.5rem;
}

.background-purple {
    background: var(--shade-2);
}

.background-orange {
    background: var(--shade-6);
}

.background-blue {
    background: var(--shade-1);
}

.famous__projects-card-img {
    width: 100%;
}

.famous__projects-card-button {
    background: var(--shade-7);
    padding: 0.8rem 1.3rem;
    border-radius: 14px;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 9.96px;
}

.famous__projects-figure-button {
    border-radius: 50%;
    border: 2px solid var(--black);
    padding: 0.5rem;
    margin: 1rem;
}

.famous__projects-contactus {
    background: var(--color-primary);
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 12px;
    margin: 3rem 0;
}

.famous__projects-contactus-button {
    display: none;
}

.famous__projects-featured {
    display: none;
}

@media screen and (min-width: 1024px){

    .famous__projects-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5rem;
    }

    .famous__projects-title {
        font-size: 84px;
    }

    .tablet {
        display: none;
    }

    .famous__projects-contactus-button {
        background: var(--color-primary);
        padding: 1rem;
        display: flex;
        text-decoration: none;
        color: var(--white);
        font-weight: 600;
        border-radius: 12px;
    }

    .famous__projects-featured-btn {
        padding: 1rem 1rem;
        background-color: var(--shade-7);
        border-radius: 24px;
        text-decoration: none;
        color: var(--white);
        font-size: 12px;
    }

    .famous__projects-featured-title {
        font-size: 32px;
        font-weight: 700;
        color: var(--color-dark);
        margin: 2rem 0;
    }

    .famous__projects-featured-text {
        font-weight: 400;
        content: var(--body-light-mode);
    }

    .famous__projects-featured {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../img/Female\ Running\ Colorful\ 2@2x\ Copy.svg');
        background-repeat: no-repeat;
        background-position: right 90%;
    }

    .famous__projects-featured-description {
        padding: 3rem;
        width: 40%;
    }
    
    .famous__projects-featured-image  {
        background: var(--shade-1);
        border-radius: 20px;
    }
    .famous__projects-card-img {
        width: 100%;
    }

    .famous__projects-card {
        width: 350px;
        height: 355px;
    }

    .famous__projects-title-card {
        font-size: 32px;
        font-weight: 700;
    }

    .famous__project-cards-list {
            display: grid; 
            grid-template-columns: auto; 
            grid-template-rows: 300px 537px 239px 700px;
            gap: 0px 0px; 
          }
          .empty { grid-area: 1 / 1 / 2 / 2; }
          .card-one { grid-area: 1 / 2 / 2 / 3; margin: 5rem;}
          .card-two { grid-area: 2 / 1 / 3 / 2; margin: 4rem;}
          .empty-three { grid-area: 3 / 1 / 4 / 2; }
          .card-three { grid-area: 3 / 2 / 4 / 3; margin: 5rem;}
          .card-four { grid-area: 4 / 1 / 5 / 2; margin: 4rem;}
          .empty-four { grid-area: 4 / 2 / 5 / 3; }
          
          .famous__projects-card-img-left {
                margin-left: -9rem;
          }


        }

        @media screen and (min-width: 1440px) {
            .famous__project-cards-list {
                gap: 0 50px;
                padding: 0 10rem;
            }
            .famous__projects-featured-image {
                padding: 2rem;
            }
            
        }