.nav__mobile {
    position: absolute;
    background: var(--color-dark) url(../img/bg-line-mobile.svg) no-repeat top right;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
}

.active {
    display: block;   
}

.nav__mobile-menu {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

.mobile-item {
    margin: 2rem 0 0 2rem;
}

.mobile-item-link {
    font-size: 32px;
    text-decoration: none;
    color: var(--mobile-menu);
    font-weight: 700;
}

.mobile-link-active {
    color: var(--white);
}

.nav__mobile-list {
    padding: 1.5rem 0;
}

.socials__menu-mobile {
    display: flex;
    padding: 1rem 0;
}

.socials-item {
    margin-left: 1rem;
    border: 1px solid #D8D8D8;
    border-radius: 50%;
    padding: .6rem .8rem;
    opacity: 0.2;

}



