.recent__work {
   margin-bottom: 3rem;
}
.recent__work-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-dark);
    margin-top: 1rem;
    padding: 1rem;
}

.recent__work-text {
    font-weight: 400;
    color: var(--body-light-mode);
    padding: 1rem;
}

.recent__work-button {
    background-color: var(--color-primary);
    padding: 1em 2em;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    margin: 1rem;
}

.recent__work-navigation {
    display: flex;
    margin-bottom: 3rem;
}

.recent__work-navigation-item {
    display: flex;
    margin-top: 1rem;
}

.recent__work-navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .7rem;
}
.recent__work-navigation-link {
    padding: 1rem;
}
.recent__work-navigation-link:hover {
    background: var(--color-primary);
    border-radius: 50%;
}

.recent__work-img {
    width: 100%;
    margin-top: 1rem;
}

.Swiper {
  display: none;
}

@media screen and (min-width: 1024px) {
  
  .recent__work {
    padding: 5%;
  }

  .recent__work-container {
    display: flex;
    align-items: center;
  }

  .recent__work-content {
    width: 50%;
    
    justify-content: center;
  }
 
    .recent__work-title {
    font-size: 64px;
  }

  .recent__work-text {
    margin: 1rem 0;
  }

  .recent__work-navigation {
    display: none;
  }
  .Swiper {
    padding: 5rem 0;
    display: flex;
    align-items: center;
  }
    .swiper__text {
    margin: 1rem;
    width: 5%;
    font-weight: 600;
    color: var(--color-dark);
    }
  
}

@media screen and (min-width: 1440px) {
  body {
    background-position: center top;
  }
}

