
.recent__work-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-dark);
    padding: 1rem;
}

.recent__work-text {
    font-weight: 400;
    color: var(--body-light-mode);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.recent__work-button {
    background-color: var(--color-primary);
    padding: 1em 2em;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    margin: 1rem;
}


