.we__arehiring {
    background: url(../img/bg-line-mobile.svg) no-repeat right top var(--background-section);
}

.we__arehiring-legend {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
    padding: 1rem;
}

.we__arehiring-legend::before {
    content: "05.";
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.5rem;
}

.we__arehiring-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-dark);
    padding: 1rem;
}

.we__arehiring-text {
    font-weight: 400;
    color: var(--body-light-mode);
    padding: 1rem;
}

.we__arehiring-list {
    padding: 1rem;
}

.we__arehiring-card-job {
    background-color: var(--white);
    border-radius: 24px;
    padding: 3.5rem;
    margin: 1em 0;
}

.we__arehiring-card-job:hover {
    color: var(--white);
    background-color: var(--color-dark);
    background-image: url(../img/Tablet\ hover.svg);
    background-repeat: no-repeat;
    background-position: right;
    transform: scale(1.1);
    transform-origin: left;
}


.we__arehiring-list-title {
    font-size: 24px;
    font-weight: 700;
}

.we__arehiring-list-text {
    font-weight: 400;
    color: var(--deactive);
    margin: 1rem 0;
}